<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Stocktistics</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
     crossorigin="anonymous">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/44/44499.png" sizes="16x16 32x32" type="image/png">
    </head>
    <body class="bg-gray-600">
        <!--NavBar-->
        <nav class="relative container mx-auto p-6">
            <!--Flex Container-->
            <div class="flex items-center justify-between">
                <!--Logo-->
                <div class="pt-2">
                    <img class="block h-8 w-auto lg:hidden"src="https://cdn-icons-png.flaticon.com/512/44/44499.png" alt="Stocktistics">
                </div>

                <div class="flex space-x-6 md:flex">
                    <a href="#" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Stocks</a>
                    <a href="#" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Charts</a>
                    <a href="#" class="text-white hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Team</a>
                </div>
                <!--Button-->
                <a
                href="#"
                class="block p-3 px-6 pt-2 text-white bg-sky-500
                rounded-full baseline hover:bg-blue-700">Get Started</a>

                </div>
            </nav>
            
<div class="body">   
    {{{body}}}
</div>


<footer class="p-4 bg-gray-600 text-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="Stocktistics" class="hover:underline">Stocktistics™</a>. All Rights Reserved.
    </span>
    
</footer>

            </body>
            </html>