<body>
<link rel="stylesheet" href="./currency.css">

    <div class="container">
        <h1>Currency Converter</h1>
        <div class="box">
            <div class="left-box">
                <select name="currency" class="currency"></select>
                <input type="number" name="" id="input">
            </div>
            <div class="right-box">
                <select name="currency" class="currency"></select>
                <input type="number" name="" id="disabled">
        </div>
    </div>
    <button class="btn" id="btn">Convert</button>
        </div>
    </div>

    <script src="../controllers/currency/currency.js"></script>

</body>

