
{{!-- <link rel="stylesheet" href="css/currency.css"> --}}

<div class="container justify-center ">
    <h1>Currency Converter</h1>
    <div class="box">
        <div class="left-box">
            <select name="currencyone" class="currencyone" type="choice">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="JPY">JPY</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
            </select>
        </div>
        <div class="right-box">
            <select name="currencytwo" class="currencytwo" type="choice">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="GBP">GBP</option>
                <option value="JPY">JPY</option>
                <option value="AUD">AUD</option>
                <option value="CAD">CAD</option>
            </select>
        </div>
    </div>
    <div class="box">
        <div class="left-box">
            <input type="text" name="amountone" class="amountone" placeholder="0">
        </div>
        <div class="right-box">
            <input type="text" name="amounttwo" class="amounttwo" placeholder="0">
        </div>
    </div>
    <div class="box">
        <div class="left-box">
            <p class="rate"></p>
        </div>
        <div class="right-box">
            <p class="rate"></p>
        </div>
    </div>
    
<button onclick="currencyConverter()" class="btn" id="btn">Convert</button>
<div id="chartContainer" class="" style="height: 370px; width: 100%;"></div>
</div>
<script src="https://cdn.tailwindcss.com"></script>
<script src="js/currency.js"></script>


