<section id="hero">
    <div class="container flex flex-col-reverse items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
    <!--Left item-->
      <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1
          class="max-w-md text-4xl font-bold text-left text-white font-mono md:text-5xl
          md:text-left">
          Stocktistics
        </h1>
        <p class="max-w-sm text-left text-white md:text-left">
          Stocktistics makes it simple for you to receive information
          on stocks.
        </p>
    </div>
  </div>
<div class="container flex flex-row md:w-1/2">
<img class="rounded-2xl"src="https://cdn.pixabay.com/photo/2017/10/17/14/10/financial-2860753_1280.jpg"
alt="stocks">
</div>

    
</section>
