<div class="row">
  <div class="col-6">
    <section id="hero">
      <div class="container flex flex-col-reverse
    items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
        <!--Left item-->
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
          <h1 class="max-w-md text-4xl font-bold text-center text-white font-mono md:text-5xl md:text-left">
            Stocktistics
          </h1>
          <p class="max-w-sm text-center text-white md:text-left">
            Stocktistics makes it simple for you to receive information
            on stocks.
          </p>
        </div>
      </div>
  </div>
  <div class="col-6">
          <div class="container flex flex-col-reverse
    items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
    <div class=" flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md text-4xl font-bold text-left text-white font-mono md:text-5xl md:text-left">
          Login
        </h1>
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login" class=" text-white col-sm-4 col-form-label max-w-sm text-left md:text-left">Email:</label>
            <div class="col-sm-6">
            <input class="form-input" type="text" id="email-login" /></div>
          </div>
          <div class="form-group">
            <label for="password-login" class=" text-white col-sm-4 col-form-label max-w-sm text-left  md:text-left">Password: </label>
            <div class="col-sm-6">
            <input class="form-input" type="password" id="password-login" /></div>
          </div>
          <div class="form-group">
            <button class="p-3 px-6 pt-2 text-white bg-sky-500 rounded-full hover:bg-blue-700"
              type="submit">Login</button>
          </div>
          <h3 class="text-white">Don't have an account? <a href="/signup"> Sign up here!</a> </h3>
        </form>
      </div>
    </div>
  </div>
  <script src="js/login.js"></script>
</div>
<div class="container flex flex-row md:w-1/2">
  <img class="rounded-2xl" src="https://cdn.pixabay.com/photo/2017/10/17/14/10/financial-2860753_1280.jpg" alt="stocks">
</div>