<section id="hero">
    <div class="container flex flex-col-reverse 
    items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
    <!--Left item-->
    <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
        <h1
        class="max-w-md text-4xl font-bold text-center text-white font-mono md:text-5xl
        md:text-left">
        Stocktistics
    </h1>
    <p class="max-w-sm text-center text-white md:text-left">
        Stocktistics makes it simple for you to receive information
        on stocks.
    </p>
    <div class="flex justify-center md:justify-start">
        <a
    href="#">
    <button class="p-3 px-6 pt-2 text-white bg-sky-500 rounded-full hover:bg-blue-700">
        Get Started
        </button>
    </div>
    </div>

<h2>Login</h2>

<form class="form login-form">
  <div class="form-group">
    <label for="email-login col-sm-2">Email: </label>
    <input class="form-input col-sm-4" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login col-sm-s">Password: </label>
    <input class="form-input col-sm-4" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>

  <a href="/signup">Sign up</a>

</form>


<script src="../public/js/login.js"></script>
