<h2 class="page-title">Signup</h2>
<form class="form signup-form">
    <div class="form-group">
        <label for="username-signup text-white col-sm-2">Username: </label>
        <input class="form-input col-sm-4" type="text" id="username-signup" />
    </div>
    <div class="form-group">
        <label for="email-signup text-white col-sm-2">Email: </label>
        <input class="form-input col-sm-4" type="text" id="email-signup" />
    </div>
    <div class="form-group">
        <label for="password-signup text-white col-sm-2">Password: </label>
        <input class="form-input col-sm-4" type="password" id="password-signup" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Signup</button>
    </div>
</form>

<script src="../public/js/signup.js"></script>