<div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup col-sm-2">Username:</label>
        <input class="form-input col-sm-6" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup col-sm-2">Email:</label>
        <input class="form-input col-sm-6" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup col-sm-2">Password:</label>
        <input class="form-input col-sm-6" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="js/signup.js"></script>