<div class="row">
  <div class="col-6">
    <section id="hero">
      <div class="container flex flex-col-reverse
    items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
        <!--Left item-->
        <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
          <h1 class="max-w-md text-4xl font-bold text-center text-white font-mono md:text-5xl md:text-left">
            Stocktistics
          </h1>
          <p class="max-w-sm text-center text-white md:text-left">
            Stocktistics makes it simple for you to receive information
            on stocks.
          </p>
        </div>
      </div>
  </div>
  <div class="col-6">
    <div class="container flex flex-col-reverse
    items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0 md:flex-row">
      <div class=" flex-col mb-32 space-y-12 md:w-1/2">
        <h1 class="max-w-md text-4xl font-bold text-left text-white font-mono md:text-5xl md:text-left">
          SignUp
        </h1>
        <form class="form signup-form">
          <div class="form-group">
            <label for="username-signup" class=" text-white col-sm-4 col-form-label max-w-sm text-left  md:text-left ">Username:</label>
            <div class=" col-sm-6">
            <input class="form-input" type="text" id="username-signup" /></div>
          </div>
          <div class="form-group">
            <label
              for="email-signup" class="text-white col-sm-4 col-form-label max-w-sm text-left  md:text-left">Email:</label>
            <div class="col-sm-6">
            <input class="form-input"  type="text" id="email-signup" /></div>
          </div>
          <div class="form-group">
            <label
              for="password-signup" class="text-white col-sm-4 col-form-label max-w-sm text-left  md:text-left">Password:
            </label>
            <div class="col-sm-6">
            <input class="form-input"  type="password" id="password-signup" /></div>
          </div>
          <div class="form-group">
            <button class="p-3 px-6 pt-2 text-white bg-sky-500 rounded-full hover:bg-blue-700"
              type="submit">SignUp</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container flex flex-row md:w-1/2">
  <img class="rounded-2xl" src="https://cdn.pixabay.com/photo/2017/10/17/14/10/financial-2860753_1280.jpg" alt="stocks">
</div>

<script src="js/signup.js"></script>

<!--
<div class="login-card">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group">
        <label for="username-signup col-sm-2">Username:</label>
        <input class="form-input col-sm-6" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup col-sm-2">Email:</label>
        <input class="form-input col-sm-6" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup col-sm-2">Password:</label>
        <input class="form-input col-sm-6" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<script src="../public/js/signup.js"></script>
-->