.login-form{
    background: rgb(164, 163, 163);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

.signup-form{
    background: rgb(164, 163, 163);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

